
#container {
  margin: 0 auto;
  width: 315px;
  height: 315px;
  margin-top: 50px;
  color: white;
}

.box {
  width: 100px;
  height: 100px;
  border: 2px solid white;
  float: left;
  display: inline-block;
  color: white;
  font-family: sans-serif;
}

.toprow {
  border-top: none;
  float: left;
  color: white;
  font-family: sans-serif;

}

.middlerow {
  float: left;
  color: white;
  font-family: sans-serif;
}

.bottomrow {
  border-bottom: none;
  float: left;
  color: white;
  font-family: sans-serif;
}

.column1 {
  border-left: none;
  color: white;
  font-family: sans-serif;
}

.column3 {
  border-right: none;
  color: white;
  font-family: sans-serif;
}

.clear {
clear: both;
}

h1 {
  text-align: center;
  margin: 0 auto;
  color: yellow;
  font-family: sans-serif;
  font-size: 50px;
}

body {
  background-color: black;
  width: 600px;
  margin: 0 auto;
  color: white;
  font-family: sans-serif;
}

button {
  background: red;
  border: none;
  color: yellow;
  font-family: sans-serif;
  font-size: 50px;
  margin: 20px 10px 10px 200px;
  
}

#popup {
  color: white;
  background: blue;
  position: relative;
  height: 220px;
  width: 220px;
  top: -362px;
  text-align: center;
  margin: 0 auto;
  display: none;

}




